<script src="js/main.min.js"></script>
<script src="https://kit.fontawesome.com/e311f120cb.js" crossorigin="anonymous"></script>
<footer class="footer">
    <div class="row">
        <div class="footer_copyright col col-md-3">
            © Copyright 2017
        </div>
        <!-- /.footer_copyright -->
        <div class="footer_buttons col col-md-3 offset-6">
            <button type="button" class="btn btn-my footer-button"><i class="far fa-save"></i> Save</button>
            <button type="button" class="btn btn-my btn-my-reverse footer-button"><i class="fas fa-reply"></i> Back</button>
        </div>
        <!-- /.footer_buttons -->
    </div>
</footer>