<header class="navbar navbar-light header container">
    <div class="row">
        <div class="header_menu_button col-md-3">
            <button class="header_menu_button-block navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars header_menu_button-bars "></i> 
            </button>
            <!-- /.header_menu_button-block -->  
        </div>
        <!-- ./header_menu_button -->
        <div class="header_logo col-md-6 ">
            <h1 class="header_h1">
                Company Logo
            </h1>
        </div> 
        <!-- ./header_logo -->
        <div class="header_dropdown col-md-3">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Option 1</a>
                    <a class="dropdown-item" href="#">Option 2</a>
                    <a class="dropdown-item" href="#">Option 3</a>
                </div>
            </div> 
            <!-- ./header_dropdown -->
        </div>
        <!-- /.header_dropdown --> 
    </div>
    <!-- ./row -->
</header>
 