<nav class="menu collapse col-md-3"  id="navbarToggleExternalContent">
    <ul class="menu_ul">
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
        <li class="menu_li"><a href="#">Link for display</a></li>
        <li class="menu_li"><a href="#">Vary vary Long Link for directory</a></li> 
    </ul>
</nav>