.footer{
    background-color: $indigo; 
    height: 100px;
    color: $white;
    .row{
        height: 100%;
        @include vertical-center;
    }
    &_copyright{
        font-family: Helvetica;
        font-size: 18px;
        font-weight: 400;
        padding-left: 40px;
        @media screen and (max-width: 576px){
            text-align: center;
        }
    }
    &_buttons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 576px){
            justify-content: center;
        }
    }
    &-button:first-child{
        margin-right: 10px;
    }
}