.header{
    @include vertical-center;
    .row{
        @include vertical-center;
    }
    // justify-content: space-between;
    background-color: $indigo; 
    height: 100px;
    color: $white;
    &_menu_button{
        @include vertical-center;
        justify-content: flex-start;
        padding: 0;
        &-block{ 
            @include vertical-center;
            justify-content: center;
            background-color: $white;
            height: 48px;
            width: 54px;
            border-radius: 2px;
            margin-left: 40px;
            transition: all 0.3s;
            outline: none;
            &:hover{
                box-shadow: 0px 0px 15px -5px #000;
                border-radius: 100%;
            }
            @media screen and (max-width: 576px){
                margin-left: 4px;
            }
        }
        &-bars{
            color: $indigo;
            font-size: 32px;
            font-weight: 400;
        }
    }
    &_logo{
        width: 100%;
        
    }
        &_h1{
            font-size: 32px;
            font-weight: 400;
            @media screen and (max-width: 576px){
                font-size: 24px;
            }
        }
    &_dropdown{
        display: flex;
        justify-content: flex-end;
        .dropdown .btn{
            @include white-button;
            width: 138px;
            height: 48px;
            @media screen and (max-width: 576px){
                font-size: 18px; 
                width: 100px;
                height: 46px;
            }
        }
        
    }
}